<!--{template common/header}-->
<!--[name][迪恩momkid频道内容页][/name]-->
<script type="text/javascript" src="{$_G['setting']['jspath']}forum_viewthread.js?{VERHASH}"></script>
<script type="text/javascript">zoomstatus = parseInt($_G['setting']['zoomstatus']), imagemaxwidth = '{$_G['setting']['imagemaxwidth']}', aimgcount = new Array();</script>
<style type="text/css">
.wp,#wp{ width:1180px;}
.deanwp{ width:1180px!important; margin:0 auto!important;}
.deanfabuxinxi{ position:relative; text-align:center; height:45px; line-height:45px; border-bottom: 1px dotted #ededed;  padding-bottom: 10px;}
.deanportalads{ margin-bottom:20px;}
.deanportalads img{ width:1180px;}
.deanfbxxtop{ float:left; }
.deanfbxxtop a{ display:block; float:left;}
.deanfbxxtop a span.deantx{ display:block; float:left; width:45px; height:45px;}
.deanfbxxtop a span.deantx img{ width:45px; height:45px; border-radius:100%; }
.deanfbxxtop a span.deanzzm{ display:block; float:left;  padding:0 10px; font-size:14px; color:#999; height:45px; line-height:45px;}
.deanfbxxbottom span.deandate{  display:block; float:left;  padding:0 10px; font-size:14px;background:url(./template/dean_momkid_161107/deancss/portal_list_view/date1.png) left center no-repeat;padding-left:25px; color:#999; height:45px; line-height:45px;}
.deanfbxxbottom{ float:left; }
.deanfbxxbottom span{ display:inline-block; padding-left:25px; font-size:12px; color:#999; margin-right:10px;}
.deanfbxxbottom span a{ font-size:12px; color:#999;}
.deanfbxxbottom span.deanviews{background:url(./template/dean_momkid_161107/deancss/portal_list_view/view1.png) left center no-repeat;}
.deanfbxxbottom span.deanreplies{background:url(./template/dean_momkid_161107/deancss/portal_list_view/reply1.png) left center no-repeat;}
.deanfbxxbottom span.deanedit{background:url(./template/dean_momkid_161107/deancss/portal_list_view/edit1.png) left center no-repeat;}
.deanfbxxbottom span.deandelete{background:url(./template/dean_momkid_161107/deancss/portal_list_view/delete1.png) left center no-repeat;}
</style>
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="$_G[setting][navs][1][filename]">{lang portal}</a> <em>&rsaquo;</em>
		<!--{loop $cat[ups] $value}--> <a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a><em>&rsaquo;</em><!--{/loop}-->
		$cat[catname]
	</div>
</div>

<div class="clear"></div>
<!--{hook/view_article_top}-->
<!--{ad/text/wp a_t}-->

<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<div class="deanportalads"><!--[diy=deanportalads]--><div id="deanportalads" class="area"></div><!--[/diy]--></div>
<div id="ct" class="ct2 wp cl deanwp">
	
    	<div class="mn">
        	
        <div class="bm vw">
          <div class="h hm">
            <h1 class="ph">$article[title] <!--{if $article['status'] == 1}-->({lang moderate_need})<!--{elseif $article['status'] == 2}-->({lang ignored})<!--{/if}--></h1>
            <div class="deanfabuxinxi">
                <div class="deanfbxxtop">
                    <a href="home.php?mod=space&uid=$article[uid]">
                        <span class="deantx"><!--{avatar($article[uid],big)}--></span>
                        <span class="deanzzm">$article[username]</span>
                        
                        <div class="clear"></div>
                    </a>
                    
                    <div class="clear"></div>
                </div>
                <div class="deanfbxxbottom">
                	<span class="deandate">$article[dateline]</span>
                    <span class="deanviews"><!--{if $article[viewnum] > 0}-->$article[viewnum]<!--{else}-->0<!--{/if}--></span>
                    <span class="deanreplies"><!--{if $article[commentnum] > 0}--><a href="$common_url" title="{lang view_all_comments}"><em id="_commentnum">$article[commentnum]</em></a><!--{else}-->0<!--{/if}--></span>
                    <span class="deanedit"><!--{if $article[author]}-->{lang view_author_original}: $article[author]<!--{/if}-->
                        <!--{if $article[from]}-->{lang from}: <!--{if $article[fromurl]}--><a href="$article[fromurl]" target="_blank">$article[from]</a><!--{else}-->$article[from]<!--{/if}--><!--{/if}-->
                        <!--{if $_G['group']['allowmanagearticle'] || ($_G['group']['allowpostarticle'] && $article['uid'] == $_G['uid'] && (empty($_G['group']['allowpostarticlemod']) || $_G['group']['allowpostarticlemod'] && $article['status'] == 1)) || $categoryperm[$value['catid']]['allowmanage']}-->
                            <a href="portal.php?mod=portalcp&ac=article&op=edit&aid=$article[aid]">{lang edit}</a>
                            
                     </span>
                     <span class="deandelete">
                        <!--{if $article[status]>0 && ($_G['group']['allowmanagearticle'] || $categoryperm[$value['catid']]['allowmanage'])}-->
                        <a href="portal.php?mod=portalcp&ac=article&op=verify&aid=$article[aid]" id="article_verify_$article[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang moderate}</a>
                            <!--{else}-->
                                <a href="portal.php?mod=portalcp&ac=article&op=delete&aid=$article[aid]" id="article_delete_$article[aid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a>
                            <!--{/if}-->
                        <!--{/if}-->
                        <!--{hook/view_article_subtitle}-->
                     </span>
                </div>
                <div class="clear"></div>
            </div>
          </div>
          
          <!--[diy=diysummarytop]-->
          <div id="diysummarytop" class="area"></div>
          <!--[/diy]--> 
          
          <!--{if $article[summary] && empty($cat[notshowarticlesummay])}-->
          <div class="s">
            <div class="deanjianjie_wz">简介</div>
            <div class="deansummary_wz">$article[summary]</div>
            <div class="clear"></div>
            <!--{hook/view_article_summary}-->
          </div>
          <!--{/if}--> 
          
          <!--[diy=diysummarybottom]-->
          <div id="diysummarybottom" class="area"></div>
          <!--[/diy]-->
          
          <div class="d"> 
            
            <!--[diy=diycontenttop]-->
            <div id="diycontenttop" class="area"></div>
            <!--[/diy]-->
            
            <table cellpadding="0" cellspacing="0" class="vwtb">
              <tr>
                <td id="article_content"><!--{ad/article/a_af/1}--> 
                  <!--{if $content[title]}-->
                  
                  <div class="vm_pagetitle xw1">$content[title]</div>
                  
                  <!--{/if}--> 
                  $content[content] </td>
              </tr>
            </table>
            <!--{hook/view_article_content}--> 
            <!--{if $multi}-->
            <div class="ptw pbw cl">$multi</div>
            <!--{/if}-->
            
            <div class="o cl ptm pbm"> 
            
            
            <div class="z">
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            
            </div>
            
              <!--{hook/view_article_op_extra}--> 
              <a href="home.php?mod=spacecp&ac=favorite&type=article&id=$article[aid]&handlekey=favoritearticlehk_{$article[aid]}" id="a_favorite" onclick="showWindow(this.id, this.href, 'get', 0);" class="oshr ofav">{lang favorite}</a> 
              <!--{if helper_access::check_module('share')}--> 
              <a href="home.php?mod=spacecp&ac=share&type=article&id=$article[aid]&handlekey=sharearticlehk_{$article[aid]}" id="a_share" onclick="showWindow(this.id, this.href, 'get', 0);" class="oshr">{lang share}</a> 
              <!--{/if}--> 
              <a href="misc.php?mod=invite&action=article&id=$article[aid]" id="a_invite" onclick="showWindow('invite', this.href, 'get', 0);" class="oshr oivt">{lang invite}</a> </div>
            
            <!--[diy=diycontentbottom]-->
            <div id="diycontentbottom" class="area"></div>
            <!--[/diy]--> 
            
            <script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
            <div id="click_div"> 
              <!--{template home/space_click}--> 
            </div>
            
            <!--{if !empty($contents)}-->
            <div id="inner_nav" class="ptn xs1">
              <h3>{lang article_inner_navigation}</h3>
              <ul class="xl xl2 cl">
                <!--{loop $contents $key $value}--> 
                <!--{eval $curpage = $key+1;}--> 
                <!--{eval $inner_view_url = helper_page::mpurl($viewurl, 'page=', $curpage);}-->
                <li>&bull; <a href="$inner_view_url"{if $key === $start} class="xi1"{/if}>{lang article_inner_page_pre} {$curpage} {lang article_inner_page} $value[title]</a></li>
                <!--{/loop}-->
              </ul>
            </div>
            <!--{/if}--> 
            
            <!--[diy=diycontentclickbottom]-->
            <div id="diycontentclickbottom" class="area"></div>
            <!--[/diy]--> 
            
          </div>
          <!--{if !empty($aimgs[$content[pid]])}--> 
          <script type="text/javascript" reload="1">aimgcount[{$content[pid]}] = [<!--{echo implode(',', $aimgs[$content[pid]]);}-->];attachimgshow($content[pid]);</script> 
          <!--{/if}--> 
          
          <!--{if !empty($_G['setting']['pluginhooks']['view_share_method'])}-->
          <div class="tshare cl"> <strong>{lang viewthread_share_to}:</strong> 
            <!--{hook/view_share_method}--> 
          </div>
          <!--{/if}--> 
          
          <!--{if $article['preaid'] || $article['nextaid']}-->
          <div class="pren pbm cl"> 
            <!--{if $article['prearticle']}--><em class="z">{lang pre_article}<a href="{$article['prearticle']['url']}">{$article['prearticle']['title']}</a></em><!--{/if}--> 
            <!--{if $article['nextarticle']}--><em class="y">{lang next_article}<a href="{$article['nextarticle']['url']}">{$article['nextarticle']['title']}</a></em><!--{/if}--> 
          </div>
          <!--{/if}--> 
        </div>
        
        <!--[diy=diycontentrelatetop]-->
        <div id="diycontentrelatetop" class="area"></div>
        <!--[/diy]--> 
        
        <!--{ad/article/mbm hm/2}--><!--{ad/article/mbm hm/3}--> 
        
        <!--{if $article['related']}-->
        <div id="related_article" class="bm">
          <div class="portal_tit cl">
            <h3>{lang view_related}</h3>
          </div>
          <div class="bm_c">
            <ul class="xl xl2 cl" id="raid_div">
              <!--{loop $article['related'] $raid $rvalue}-->
              <input type="hidden" value="$raid" />
              <li>&bull; <a href="{$rvalue[uri]}">{$rvalue[title]}</a></li>
              <!--{/loop}-->
            </ul>
          </div>
        </div>
        <!--{/if}--> 
        
        <!--[diy=diycontentrelate]-->
        <div id="diycontentrelate" class="area"></div>
        <!--[/diy]--> 
        <!--{if $article['allowcomment']==1}--> 
        <!--{eval $data = &$article}--> 
        <!--{subtemplate portal/portal_comment}--> 
        <!--{/if}-->     
        <!--[diy=diycontentcomment]-->
        <div id="diycontentcomment" class="area"></div>
        <!--[/diy]--> 
      
        
		

            <!--[diy=diycontentcomment]--><div id="diycontentcomment" class="area"></div><!--[/diy]-->
    
    
        </div>
    	<div class="sd pph">
		<!--{if $cat[others]}-->
         
                 
        
        <div class="deannextnav deanactions fadeInUp">
            <div class="deantitle"><h3>{lang category_related}</h3></div>
            	<ul>
                <!--{loop $cat[others] $value}-->
                <li><a href="{echo getportalcategoryurl($value[catid])}">$value[catname]</a></li>
                <!--{/loop}-->
                </ul>
                <div class="clear"></div>
            </ul>
        </div>
         <!--{/if}-->
         <div class="clear"></div>
        
        <!-- 精彩阅读 -->
		<div class="deansidebox deanactions fadeInUp">
        	<div class="deanpubtitle">
                <h3>精彩阅读</h3>
                <div class="clear"></div>
            </div>
            <div class="focusBox">
            	<!--[diy=focusBox]--><div id="focusBox" class="area"></div><!--[/diy]-->
                    
                    <a class="prev" href="javascript:void(0)"><</a>
                    <a class="next" href="javascript:void(0)">></a>
                    <ul class="hd">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
            </div>
        
            <script type="text/javascript">
                jQuery(".focusBox").slide({ mainCell:".pic",effect:"left", autoPlay:true, delayTime:300});
            </script>
            
            
        </div>
		
        <!-- 精选资讯 -->
		<div class="deansidebox deanactions fadeInUp">
        	<div class="deangltt">
                <!--[diy=deangltt2]--><div id="deangltt2" class="area"></div><!--[/diy]-->
                <div class="clear"></div>
            </div>
            <div class="deangllists">
                <ul>
                    <!--[diy=deangllists]--><div id="deangllists" class="area"></div><!--[/diy]-->
                </ul>
            </div>
        </div>
        
        <!-- 推荐视频 -->
		<div class="deansidebox deanactions fadeInUp">
        	<div class="deanpubtitle" style="margin-bottom:0;">
                <h3>推荐视频</h3>
                <div class="clear"></div>
            </div>
            <div class="deanonvideos">
                <ul>
                    <!--[diy=deangamestt1ss]--><div id="deangamestt1ss" class="area"></div><!--[/diy]-->
                    <div class="clear"></div>
                </ul>
            </div>
            
        </div>
		<!-- 精选资讯 -->
		<div class="deansidebox deanactions fadeInUp">
        	<div class="deangltt">
                <!--[diy=deangltt2x]--><div id="deangltt2x" class="area"></div><!--[/diy]-->
                <div class="clear"></div>
            </div>
            <div class="deangllists">
                <ul>
                    <!--[diy=deangllistsx]--><div id="deangllistsx" class="area"></div><!--[/diy]-->
                </ul>
            </div>
        </div>
        <!-- 专访 -->
		<div class="deansidebox deanactions fadeInUp">
        	<div class="deanpubtitle">
                <h3>专访</h3>
                <div class="clear"></div>
            </div>
            <div class="deanimg_news">
                <!--[diy=deanimg_news]--><div id="deanimg_news" class="area"></div><!--[/diy]-->
                
                <div class="clear"></div>
            </div>
            
        </div>
	</div>
    <div class="clear"></div>
	
</div>

<!--{if $_G['relatedlinks']}-->
	<script type="text/javascript">
		var relatedlink = [];
		<!--{loop $_G['relatedlinks'] $key $link}-->
		relatedlink[$key] = {'sname':'$link[name]', 'surl':'$link[url]'};
		<!--{/loop}-->
		relatedlinks('article_content');
	</script>
<!--{/if}-->

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>
<input type="hidden" id="portalview" value="1">

<!--{template common/footer}-->